:root {
  --accent-color: #1173e4;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.error {
  color: red;
}

.align-left {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}